<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="survey">

    <!-- TODO qs_type을 Integer로 인식하는 오류가 있는데 매개변수가 int라 if test문에서 String을 조건으로 사용할 수 없는 것 같다. -->

    <!-- 설문 제출 -->
    <insert id="insertSurveyInfo" parameterType="com.cafe24.craneform.dto.SurveyInfoDTO">
        <![CDATA[
            INSERT INTO survey_info_tb (si_ui_no, si_subtitle, si_detail, si_start_date, si_end_date, si_state)
            VALUES (#{si_ui_no}, #{si_subtitle}, #{si_detail}, now(), #{si_end_date}, #{si_state})
        ]]>
    </insert>

    <!-- 질문 제출 -->
    <insert id="insertQuestion" parameterType="com.cafe24.craneform.dto.QuestionDTO">
        <![CDATA[
            INSERT INTO question_tb (qs_si_no, qs_type, qs_detail, qs_required, qs_order)
            VALUES (#{qs_si_no}, #{qs_type}, #{qs_detail}, #{qs_required}, #{qs_order})
        ]]>
    </insert>

    <!-- 옵션 제출 -->
    <insert id="insertSelectOption" parameterType="com.cafe24.craneform.dto.SelectOptionDTO">
        <![CDATA[
            INSERT INTO select_option_tb (so_qs_no, so_detail, so_order)
            VALUES (#{so_qs_no}, #{so_detail}, #{so_order})
        ]]>
    </insert>

    <!-- 방금 insert한 설문 번호 검색 -->
    <select id="searchSurveyNo" parameterType="com.cafe24.craneform.dto.SurveyInfoDTO" resultType="int">
        <![CDATA[
            SELECT si_no FROM survey_info_tb
            WHERE si_ui_no = #{si_ui_no}
            ORDER BY si_no DESC
            LIMIT 1
        ]]>
    </select>

    <!-- 방금 insert한 질문 번호 검색 -->
    <select id="searchQuestionNo" parameterType="com.cafe24.craneform.dto.QuestionDTO" resultType="int">
        <![CDATA[
            SELECT qs_no FROM question_tb
            WHERE qs_si_no = #{qs_si_no} AND qs_order = #{qs_order}
            ORDER BY qs_no DESC
            LIMIT 1
        ]]>
    </select>

    <!-- index 설문 목록 표시 -->
    <select id="surveyInfoList" resultType="com.cafe24.craneform.dto.SurveyInfoDTO">
        <![CDATA[
            SELECT si_no, si_ui_no, si_created_date, si_detail, si_start_date, si_end_date, si_state, si_subtitle
            FROM survey_info_tb
            ORDER BY si_no DESC
        ]]>
    </select>

    <!-- 설문 정보 -->
    <select id="surveyInfoOne" parameterType="int" resultType="com.cafe24.craneform.dto.SurveyInfoDTO">
        <![CDATA[
            SELECT si_no, si_ui_no, si_subtitle, si_detail, si_created_date, si_start_date, si_end_date, si_state
            FROM survey_info_tb
            WHERE si_no = #{si_no}
        ]]>
    </select>

    <!-- AllSurveyInfoDTO 내부의 리스트에 매핑 -->
    <resultMap id="allSurveyInfoMap" type="com.cafe24.craneform.dto.AllSurveyInfoDTO">
        <id property="qs_no" column="qs_no"/>
        <result property="qs_si_no" column="qs_si_no"/>
        <result property="qs_type" column="qs_type"/>
        <result property="qs_detail" column="qs_detail"/>
        <result property="qs_required" column="qs_required"/>
        <result property="qs_order" column="qs_order"/>
        <collection property="selectOptionList" ofType="com.cafe24.craneform.dto.SelectOptionDTO" javaType="java.util.List" >
            <id property="so_no" column="so_no"/>
            <result property="so_qs_no" column="so_qs_no"/>
            <result property="so_order" column="so_order"/>
            <result property="so_detail" column="so_detail"/>
        </collection>
        <collection property="essayOptionList" ofType="com.cafe24.craneform.dto.EssayOptionDTO" javaType="java.util.List" >
            <id property="eo_no" column="eo_no"/>
            <result property="eo_min" column="eo_min"/>
            <result property="eo_max" column="eo_max"/>
        </collection>
        <collection property="tableOptionList" ofType="com.cafe24.craneform.dto.TableOptionDTO" javaType="java.util.List" >
            <id property="to_no" column="to_no"/>
            <result property="to_order" column="to_order"/>
            <result property="to_matrix" column="to_matrix"/>
            <result property="to_detail" column="to_detail"/>
        </collection>
    </resultMap>

    <!-- 설문지 상세에 질문과 옵션 리스트 -->
    <select id="allSurveyInfo" parameterType="int" resultMap="allSurveyInfoMap">
        SELECT qs.qs_order, qs.qs_detail, qs.qs_type, qs.qs_required, qs.qs_no, so.so_no,so.so_order, so.so_detail, so.so_no,eo.eo_min, eo.eo_max, eo.eo_no,tb.to_matrix, tb.to_detail, tb.to_order, tb.to_no
        <!--<choose>
            <when test='qs_type == "객관식" or qs_type == "체크박스" or qs_type == "셀렉트박스"'>

            </when>
            <when test='qs_type == "주관식 - 단답형" or qs_type == "주관식 - 장문형"'>

            </when>
            <when test='qs_type == "객관식 표" or qs_type == "체크박스 표"'>

            </when>
        </choose>-->
        FROM question_tb qs
        INNER JOIN survey_info_tb si ON si.si_no = qs.qs_si_no /* 설문 정보 */
        LEFT JOIN select_option_tb so ON qs.qs_no = so.so_qs_no /* 객관식 옵션 */
        LEFT JOIN essay_option_tb eo ON qs.qs_no = eo.eo_qs_no /* 주관식 옵션 */
        LEFT JOIN table_option_tb tb ON qs.qs_no = tb.to_qs_no /* 표 옵션 */
        WHERE qs.qs_si_no = #{si_no}
        ORDER BY qs.qs_no, so.so_no
    </select>

    <!-- 답변 insert -->
    <insert id="insertSelectAnswer" parameterType="com.cafe24.craneform.dto.SelectAnswerDTO">
        <![CDATA[
            INSERT INTO select_answer_tb (sa_qs_no, sa_ui_no, sa_so_no)
            VALUES (#{sa_qs_no}, #{sa_ui_no}, #{sa_so_no})
        ]]>
    </insert>
</mapper>
