header {
    font-family: AppleSDGothicNeoB00, sans-serif;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;
    float: none;
    min-width: 100%;
    padding: 0;

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-mypage {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
}

.card {
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card img {
    max-height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    z-index: 99999;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.dropdown-item {
    font-size: 0.9rem;
    color: #6c757d;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #6c757d;
}

.btn-primary:hover {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: #6c757d;
}

.rounded-pill {
    border-radius: 50px;
}

.separator {
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 10px;
}

.btn-sort {
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

.btn-sort:hover {
    color: #212529;
    background-color: #f8f9fa;
}


